name: Build zips

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  macwin:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - run: npm ci
      - run: npm run package:macwin:zip
      - uses: actions/upload-artifact@v4
        with:
          name: zips
          path: release/**
